POSTGRES_CONTAINER=postgresql
# POSTGRES_HOST=postgresql
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DBNAME=antagonist

INFLUX_CONTAINER=influx
INFLUX_HOST=influxdb
INFLUX_PORT=8086
INFLUX_USER=influx
INFLUX_PASSWORD=password
INFLUX_DBNAME=grafana

INFLUXDB_MODE=setup
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=password
INFLUXDB_ORG=ietf
INFLUXDB_BUCKET=network_telemetry
INFLUXDB_RETENTION=365d
INFLUXDB_TOKEN="qT83QJVt1wENkP3s8Lfgyw0A5mGMQ5NFDApl5xOYKC3B_7tM5eVm8G0cnUsCzEG_8J3YEk0o2i6oH6L9masMxA=="
