annotated-types==0.7.0
certifi==2025.10.5
charset-normalizer==3.4.4
idna==3.11
influxdb-client==1.49.0
numpy==2.3.4
pandas==2.3.3
pydantic==2.12.3
pydantic_core==2.41.4
python-dateutil==2.9.0.post0
pytz==2025.2
reactivex==4.0.4
requests==2.31.0
setuptools==80.9.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0